<!--Barra de Acessibilidade-->
<div class="acessibilidade" id="acessebilidade">
    <!--Lista de Atalhos da Página-->
    <ul class="acessibilidade__atalhos">
        <!--Atalho do Conteúdo Principal da Página-->
        <li><a accesskey="1" title="Ir para o conteúdo" href="#conteudo-principal">Ir para o
                conteúdo<span>1</span></a>
        </li>
        <!--Atalho do Menu da Página-->
        <li><a accesskey="2" title="Ir para o menu" href="#nav">Ir para o menu<span>2</span></a></li>
        <!--Atalho de Busca-->
        <li><a accesskey="3" title="Ir para a busca" href="#search">Ir para a busca<span>3</span></a></li>
        <!--Atalho do Rodapé-->
        <li><a accesskey="4" title="Ir para o rodapé" href="#footer">Ir para o rodapé<span>4</span></a></li>
    </ul>
    <!--Lista de Acessibilidade-->
    <ul class="acessibilidade__links">
        <!--Informações de Acessibilidade-->
        <li><a accesskey="5" href="acessibilidade.html" title="Acessibilidade">Acessibilidade<span>5</span></a>
        </li>
        <!--Ativação do Alto Contraste-->
        <li><a accesskey="6" href="#" id="alto-contraste" title="Alto Contraste">Alto
                Contraste<span>6</span></a></li>
        <!--Mapa de Acesso da Página-->
        <li><a accesskey="7" href="mapa_site.html" title="Mapa do Site">Mapa
                do Site<span>7</span></a></li>
    </ul>
    <!--Lista de Tradução-->
    <ul class="acessibilidade__traducao" id="icones-traducao">
        <!--Link para Tradução da Página em Inglês-->
        <li><a href="" title="CME em Inglês">
                <div class="icones-traducao-united-states-of-america" alt="English"></div>
            </a></li>
        <!--Link para Tradução da Página em Espanhol-->
        <li><a href="" title="CME em Espanhol">
                <div class="icones-traducao-spain" alt="Spanish"></div>
            </a></li>
        <!--Link para Tradução da Página em Francês-->
        <li><a href="" title="CME em Francês">
                <div class="icones-traducao-france" alt="French"></div>
            </a></li>
    </ul>
</div>