<!--Rodapé de Links da UFPR-->
<section class="rodape__links">
    <!--Primeiro Bloco de Links-->
    <div class="rodape__links__divisao--servicos">
        <!--Título da Sessão-->
        <h5 class="rodape__links__divisao__titulo" id="links-servicos">Serviços</h5>
        <!--Lista de Links-->
        <ul class="rodape__links__divisao__lista">
            <!--Link do Agendamento do Anfiteatro 10-->
            <li><a href="http://www.bio.ufpr.br/portal/agendamento-anfiteatro-10/" target="_blank">Anfiteatro
                    10</a></li>
            <!--Link do Multiconferência-->
            <li><a href="http://www.bio.ufpr.br/portal/mconf/" target="_blank">Mconf</a></li>
            <!--Link dos Concursos-->
            <li><a href="http://www.bio.ufpr.br/portal/concursos/" target="_blank">Concursos</a></li>
            <!--Link da Biblioteca Setorial da Biológicas-->
            <li><a href="http://www.portal.ufpr.br/bib_bl.html" target="_blank">Biblioteca do Setor</a></li>
            <!--Link do Centro de Tecnologias Avançadas em Fluorescência-->
            <li><a href="http://www.bio.ufpr.br/portal/ctaf/" target="_blank">CTAF</a></li>
            <!--Link da Lista de Ramais da Biológicas-->
            <li><a href="http://www.bio.ufpr.br/portal/lista-de-ramais/" target="_blank">Lista de Ramais</a>
            </li>
        </ul>
    </div>
    <!--Segundo Bloco de Links-->
    <div class="rodape__links__divisao--apoio">
        <!--Título da Sessão-->
        <h5 class="rodape__links__divisao__titulo" id="links-apoio">Serviços de Apoio</h5>
        <!--Lista de Links-->
        <ul class="rodape__links__divisao__lista">
            <!--Link da Administração Predial da Biológicas-->
            <li><a href="http://www.bio.ufpr.br/portal/admpredial/" target="_blank">Administração
                    Predial</a></li>
            <!--Link do Almoxarifado e Patrimônio da Biológicas-->
            <li><a href="http://www.bio.ufpr.br/portal/almopatri/" target="_blank">Almoxarifado e
                    Patrimônio</a></li>
            <!--Link do Departamento de Informática da Biológicas-->
            <li><a href="http://www.bio.ufpr.br/portal/infobio/" target="_blank">Informática</a></li>
            <!--Link do Departamento de Orçamento e Finanças Biológicas-->
            <li><a href="http://www.bio.ufpr.br/portal/orcamento-e-financas/" target="_blank">Orçamento e
                    Finanças</a></li>
        </ul>
    </div>
    <!--Terceiro Bloco de Links-->
    <div class="rodape__links__divisao--comissoes">
        <!--Título da Sessão-->
        <h5 class="rodape__links__divisao__titulo" id="links-comissoes">Comissões e Comitês</h5>
        <!--Lista de Links-->
        <ul class="rodape__links__divisao__lista">
            <!--Link da Comissão de Ética no Uso de Animais-->
            <li><a href="http://www.bio.ufpr.br/portal/ceua/" target="_blank">Comissão de Ética no Uso de
                    Animais</a></li>
            <!--Link da Comissão de Biossegurança da Biológicas-->
            <li><a href="http://www.bio.ufpr.br/portal/comissao-interna-de-bioseguranca/"
                    target="_blank">Comissão Interna de Biossegurança</a></li>
            <!--Link do Comitê de Pesquisa da Biológicas-->
            <li><a href="http://www.bio.ufpr.br/portal/comite-setorial-de-pesquisa/" target="_blank">Comitê
                    Setorial de Pesquisa</a></li>
        </ul>
    </div>
    <!--Quarto Bloco de Links-->
    <div class="rodape__links__divisao--orgaos">
        <!--Título da Sessão-->
        <h5 class="rodape__links__divisao__titulo" id="links-suplementares">Órgãos Suplementares</h5>
        <!--Lista de Links-->
        <ul class="rodape__links__divisao__lista">
            <!--Link da ASPEC-->
            <li><a target="_blank" href="http://www.bio.ufpr.br/portal/aspec/">ASPEC</a></li>
            <!--Link do Biotério-->
            <li><a target="_blank" href="http://www.bio.ufpr.br/portal/bioterio/">Biotério</a></li>
            <!--Link do Centro de Educação Física e Desportos-->
            <li><a target="_blank" href="http://www.bio.ufpr.br/portal/ced/">CED</a></li>
            <!--Link do Museu de Ciências Naturais-->
            <li><a target="_blank" href="http://www.bio.ufpr.br/portal/mcn/">Museu de Ciências Naturais</a>
            </li>
        </ul>
    </div>
    <!--Quinto Bloco de Links-->
    <div class="rodape__links__divisao--sitios">
        <!--Título da Sessão-->
        <h5 class="rodape__links__divisao__titulo" id="links-interesses">Sítios de Interesse</h5>
        <!--Lista de Links-->
        <ul class="rodape__links__divisao__lista">
            <!--Link do Ministério da Educação-->
            <li><a href="http://www.mec.gov.br/" target="_blank">Ministério da Educação</a></li>
            <!--Link do Ministério da Ciência, Tecnologia e Inovações-->
            <li><a href="https://www.gov.br/mcti/" target="_blank">Ministério da Ciência, Tecnologia e
                    Inovações</a></li>
            <!--Link do Portal da Transparência-->
            <li><a href="http://transparencia.gov.br/" target="_blank">Portal da Transparência</a></li>
            <!--Link da CAPES-->
            <li><a href="http://www.capes.gov.br/" target="_blank">CAPES</a></li>
            <!--Link do CNPq-->
            <li><a href="http://www.cnpq.br/" target="_blank">CNPq</a></li>
            <!--Link da Fundação Araucária-->
            <li><a href="http://www.fappr.pr.gov.br/" target="_blank">Fundação Araucária</a></li>
            <!--Link da Fundação da UFPR-->
            <li><a href="http://www.funpar.ufpr.br/" target="_blank">FUNPAR</a></li>
        </ul>
    </div>
    <!--Sexto Bloco de Links-->
    <div class="rodape__links__divisao--reitorias">
        <!--Título da Sessão-->
        <h5 class="rodape__links__divisao__titulo" id="links-reitorias">Pró-Reitorias da UFPR</h5>
        <!--Lista de Links-->
        <ul class="rodape__links__divisao__lista">
            <!--Link da Pró-Reitoria de Administração da UFPR-->
            <li><a href="http://www.pra.ufpr.br/portal/" target="_blank">Pró-Reitoria de Administração</a>
            </li>
            <!--Link da Pró-Reitoria de Assuntos Estudantis-->
            <li><a href="http://www.prae.ufpr.br/prae/" target="_blank">Pró-Reitoria de Assuntos
                    Estudantis</a></li>
            <!--Link da Pró-Reitoria de Extensão e Cultura-->
            <li><a href="http://www.proec.ufpr.br/" target="_blank">Pró-Reitoria de Extensão e Cultura</a>
            </li>
            <!--Link da Pró-Reitoria de Gestão de Pessoas-->
            <li><a href="http://www.progepe.ufpr.br/progepe/" target="_blank">Pró-Reitoria de Gestão de
                    Pessoas</a></li>
            <!--Link da Pró-Reitoria de Graduação e Educação Profissional-->
            <li><a href="http://www.prograd.ufpr.br/portal/" target="_blank">Pró-Reitoria de Graduação e
                    Educação Profissional</a></li>
            <!--Link da Pró-Reitoria de Pesquisa e Pós-Graduação-->
            <li><a href="http://www.prppg.ufpr.br/" target="_blank">Pró-Reitoria de Pesquisa e
                    Pós-Graduação</a></li>
            <!--Link da Pró-Reitoria de Planejamento, Orçamento e Finanças-->
            <li><a href="http://www.proplan.ufpr.br/portal/" target="_blank">Pró-Reitoria de Planejamento,
                    Orçamento e Finanças</a></li>
        </ul>
    </div>
    <!--Sétimo Bloco de Links-->
    <div class="rodape__links__divisao--ufpr">
        <!--Título da Sessão-->
        <h5 class="rodape__links__divisao__titulo" id="links-sitios-ufpr">Sítios da UFPR</h5>
        <!--Lista de Links-->
        <ul class="rodape__links__divisao__lista">
            <!--Link da Secretaria dos Órgãos Colegiados-->
            <li><a href="http://www.ufpr.br/soc" target="_blank">Secretaria dos Órgãos Colegiados</a></li>
            <!--Link do Sítio das Bibliotecas-->
            <li><a href="http://www.portal.ufpr.br/" target="_blank">Bibliotecas – SIBI</a></li>
            <!--Link da Comissão de Ética da UFPR-->
            <li><a href="http://www.eticapublica.ufpr.br/" target="_blank">Comissão de Ética</a></li>
            <!--Link do Hospital de Clínicas-->
            <li><a href="http://www.hc.ufpr.br/" target="_blank">Hospital de Clínicas</a></li>
            <!--Link da Editora da UFPR-->
            <li><a href="http://www.editora.ufpr.br/" target="_blank">Editora da UFPR</a></li>
            <!--Link do Sítio do Núcleo de Concursos-->
            <li><a href="http://www.nc.ufpr.br/" target="_blank">Vestibular / Núcleo de Concursos</a></li>
        </ul>
    </div>
    <!--Oitavo Bloco de Links-->
    <div class="rodape__links__divisao--setores">
        <!--Título da Sessão-->
        <h5 class="rodape__links__divisao__titulo" id="links-setores">Setores da UFPR</h5>
        <!--Lista de Links-->
        <ul class="rodape__links__divisao__lista">
            <!--Link do Setor de Artes, Comunicação e Design da UFPR-->
            <li><a href="http://www.sacod.ufpr.br" target="_blank">Setor de Artes, Comunicação e Design</a>
            </li>
            <!--Link do Setor de Ciências Agrárias da UFPR-->
            <li><a href="http://www.agrarias.ufpr.br" target="_blank">Setor de Ciências Agrárias</a></li>
            <!--Link do Setor de Ciências Biológicas da UFPR-->
            <li><a href="http://www.bio.ufpr.br" target="_blank">Setor de Ciências Biológicas</a></li>
            <!--Link do Setor de Ciêcnias da Saúde da UFPR-->
            <li><a href="http://www.saude.ufpr.br" target="_blank">Setor de Ciêcnias da Saúde</a></li>
            <!--Link do Setor de Ciências da Terra da UFPR-->
            <li><a href="http://www.terra.ufpr.br" target="_blank">Setor de Ciências da Terra</a></li>
            <!--Link do Setor de Ciêcnias Exatas da UFPR-->
            <li><a href="http://www.exatas.ufpr.br" target="_blank">Setor de Ciêcnias Exatas</a></li>
            <!--Link do Setor de Ciências Humanas da UFPR-->
            <li><a href="http://www.humanas.ufpr.br" target="_blank">Setor de Ciências Humanas</a></li>
            <!--Link do Setor de Ciências Jurídicas da UFPR-->
            <li><a href="http://www.juridicas.ufpr.br" target="_blank">Setor de Ciências Jurídicas</a></li>
            <!--Link do Setor de Ciências Sociais Aplicadas da UFPR-->
            <li><a href="http://www.sociais.ufpr.br" target="_blank">Setor de Ciências Sociais Aplicadas</a>
            </li>
            <!--Link do Setor de Educação da UFPR-->
            <li><a href="http://www.educacao.ufpr.br" target="_blank">Setor de Educação</a></li>
            <!--Link do Setor de Educação Profissional e Tecnológica da UFPR-->
            <li><a href="http://www.sept.ufpr.br" target="_blank">Setor de Educação Profissional e
                    Tecnológica</a></li>
            <!--Link do Setor de Tecnologia da UFPR-->
            <li><a href="http://www.tecnologia.ufpr.br" target="_blank">Setor de Tecnologia</a></li>
            <!--Link do Setor Litoral da UFPR-->
            <li><a href="http://www.litoral.ufpr.br" target="_blank">Setor Litoral</a></li>
            <!--Link do Setor Palotina da UFPR-->
            <li><a href="http://www.campuspalotina.ufpr.br" target="_blank">Setor Palotina</a></li>
            <!--Link do Campus de Jandaia do Sul da UFPR-->
            <li><a target="_blank" href="http://www.jandaiadosul.ufpr.br">Campus de Jandaia do Sul</a></li>
        </ul>
    </div>
</section>