<!--Menu UFPR-->
<nav class="cabecalho__menu--ufpr">
    <!--Lista do Menu da UFPR-->
    <ul>
        <!--Link do Portal da UFPR-->
        <li><a target="_blank" href="http://www.ufpr.br/portalufpr" aria-current="page">Portal UFPR</a></li>
        <!--Link do Portal do Setor de Ciências Biológicas da UFPR-->
        <li><a target="_blank" href="http://www.bio.ufpr.br/portal/" aria-current="page">Ciências
                Biológicas</a></li>
        <!--Link da Intranet da UFPR-->
        <li><a target="_blank" href="https://intranet.ufpr.br/">Intranet</a></li>
        <!--Link do Office 365 para UFPR-->
        <li><a target="_blank" href="http://www.office.com">Office 365</a></li>
        <!--Link do Sistema de Comunicação da UFPR-->
        <li><a target="_blank"
                href="https://www.ufpr.br/portalufpr/saci-sistema-de-apoio-a-comunicacao-integrada/">Comunicação</a>
        </li>
    </ul>
</nav>