<!--Menu de Navegação CME-->
<nav class="menu">
    <!--Link de direcionamento da barra de acessibilidade para menu-->
    <a name="nav" id="nav"></a>
    <!--Divisão do Ícone do Menu Responsivo-->
    <div class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></div>
    <!--Lista de Links do Menu de 1° Nível-->
    <ul>
        <!--Link para Página Incial-->
        <li><a href="{% url 'index' %}">Página Inicial</a></li>
        <!--Link para Páginas da Organização do Centro de Microscopia Eletrônica-->
        <li class="dropdown"><a class="dropdown-title" href="#">CME</a>
            <!--Lista de Links do Menu de 2° Nível-->
            <ul class="dropdown-menu">
                <!--Link para Página da Chefia do Centro de Microscopia Eletrônica-->
                <li><a href="chefia.html">Chefia</a></li>
                <!--Link para Página do Corpo de Conselheiros do Centro de Microscopia Eletrônica-->
                <li><a href="conselho.html">Conselho</a></li>
                <!--Link para Página da Equipe Técnica do Centro de Microscopia Eletrônica-->
                <li><a href="equipe_tecnica.html">Equipe Técnica</a></li>
                <!--Link para Página do Regimento Interno do Centro de Microscopia Eletrônica-->
                <li><a href="regimento.html">Regimento</a></li>
                <!--Link para Página da Descrição do Funcionamento do Centro de Microscopia Eletrônica-->
                <li><a href="funcionamento.html">Funcionamento</a></li>
                <!--Link para Página da História do Centro de Microscopia Eletrônica-->
                <li><a href="historico.html">Histórico</a></li>
                <!--Link para Página de Descrição da Missão e Visão do Centro de Microscopia Eletrônica-->
                <li><a href="missao_visao.html">Missão e Visão</a></li>
                <!--Link para Página de Disponibilização do Logtipo do Centro de Microscopia Eletrônica-->
                <li><a href="logotipo.html">Logotipo</a></li>
                <!--Link para Página do Planejamento Estratégico do Centro de Microscopia Eletrônica-->
                <li><a href="planejamento_estrategico.html">Planejamento Estratégico</a></li>
            </ul>
        </li>
        <!--Link para Página de Trabalhos Desenvolvidos com Auxílio do Centro de Microscopia Eletrônica-->
        <li><a href="producao_cientifica.html">Produção Científica</a></li>
        <!--Link para Página de Orientações aos Usuários-->
        <li class="dropdown"><a class="dropdown-title" href="#">Orientações aos
                Usuários</a>
            <!--Lista de Links do Menu de 2° Nível-->
            <ul class="dropdown-menu">
                <!--Link para Página de Normas para Usuários do Centro de Microscopia Eletrônica-->
                <li><a href="normas.html">Normas</a></li>
                <!--Link Alternativo para Página do Sistema Interno de Gerenciamento do Centro de Microscopia Eletrônica-->
                <li><a href="sistema_gerenciamento.html">Sistema de Gerenciamento</a></li>
                <!--Link para Página dos Equipamentos do Centro de Microscopia Eletrônica-->
                <li><a href="servicos_precos.html">Tabelas de Serviços e Preços</a></li>
                <!--Link para Página de Perguntas Frequêntes do Centro de Microscopia Eletrônica-->
                <li><a href="perguntas_frequentes.html">Perguntas Frequentes</a></li>
            </ul>
        </li>
        <!--Link para Página da Infraestrutura do Centro de Microscopia Eletrônica-->
        <li class="dropdown"><a class="dropdown-title" href="#">Infraestrutura</a>
            <!--Lista de Links do Menu de 2° Nível-->
            <ul class="dropdown-menu">
                <!--Link para Página dos Equipamentos do Centro de Microscopia Eletrônica-->
                <li><a href="{% url 'equipamentos' %}">Equipamentos</a></li>
                <!--Link para Página dos Laboratórios do Centro de Microscopia Eletrônica-->
                <li><a href="laboratorios.html">Laboratórios</a></li>
            </ul>
        </li>
        <!--Link para Galeria de Imagens-->
        <li><a href="galeria.html">Galeria</a></li>
        <!--Link para Página dos Equipamentos do Centro de Microscopia Eletrônica-->
        <li><a href="estatisticas.html">Estatísticas</a></li>
    </ul>
</nav>