//Paleta de Cores
$cor-padrao: #467F8C;
$cor-padrao-auxiliar: #6FB7BF;
$cor-secundaria: #768C45;
$cor-secundaria-auxiliar: #8EA638;
$cor-preta: #000000;
$cor-branca: #FFFFFF;
$transition: 280ms all 120ms ease-out;