{% load static %}
<!-- Brand Logo -->
<a href="index3.html" class="brand-link">
    <img src="{% static 'assets/img/Icone-Sistema-CME.svg' %}" alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Sistema CME</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
        {% if user.is_authenticated %}
            {% if usuario.foto_de_perfil %}
                  <img class="profile-user-img img-fluid rounded" src="{{usuario.foto_de_perfil.url}}"
                  alt="User profile picture">
                {% else %}
                  <img class="profile-user-img img-fluid rounded" src="{% static 'assets/img/fotos-perfil/Perfil_Desconhecido.jpg' %}"
                  alt="User profile picture">
                {% endif %} 
        {% endif %}
        </div>
        <div class="info">
            <a href="#" class="d-block">{{usuario.first_name}}</a>
        </div>
    </div>