html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: "" "";
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

a img {
  border: none;
}

.icones-traducao-sprite, .acessibilidade .icones-traducao-france, .acessibilidade .icones-traducao-spain, .acessibilidade .icones-traducao-united-states-of-america {
  background-image: url('/assets/img/icones-traducao-s1cbaf960c3.png');
  background-repeat: no-repeat;
}

/******Estilo da Barra Brasil******/
#footer-brasil {
  background: none repeat scroll 0% 0% #0042b1;
  padding: 1em 0px;
  max-width: 100%;
}

header {
  display: grid;
  grid-template-areas: "barra-brasil" "barra-acessibilidade" "cabecalho" "menu";
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 7fr 1fr;
  height: 320px;
  margin: 0 auto;
  max-width: 75rem;
}

#barra-brasil {
  grid-area: barra-brasil;
}

.acessibilidade {
  -webkit-align-items: center;
  align-items: center;
  background-color: #FFFFFF;
  display: grid;
  font-size: 0.8em;
  grid-area: barra-acessibilidade;
  grid-column-gap: 1%;
  grid-template-areas: "atalhos links traducao";
  grid-template-columns: 6fr 6fr 1fr;
  grid-template-rows: auto;
}
@media only screen and (max-width: 960px) {
  .acessibilidade {
    grid-template-areas: "atalhos" "links" "traducao";
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 495px) {
  .acessibilidade {
    grid-template-areas: "links" "traducao";
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }
}
.acessibilidade .icones-traducao-france {
  background-position: 0 0;
}
.acessibilidade .icones-traducao-spain {
  background-position: 0 -18px;
}
.acessibilidade .icones-traducao-united-states-of-america {
  background-position: 0 -36px;
}
.acessibilidade .icones-traducao-france,
.acessibilidade .icones-traducao-spain,
.acessibilidade .icones-traducao-united-states-of-america {
  height: 16px;
  width: 16px;
}
.acessibilidade__atalhos {
  display: -webkit-flex;
  display: flex;
  grid-area: atalhos;
  -webkit-justify-content: start;
  justify-content: start;
}
@media only screen and (max-width: 960px) {
  .acessibilidade__atalhos {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 495px) {
  .acessibilidade__atalhos {
    display: none;
  }
}
.acessibilidade__atalhos li {
  margin: 0.3rem;
}
.acessibilidade__links {
  display: -webkit-flex;
  display: flex;
  grid-area: links;
  -webkit-justify-content: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: underline dotted;
}
.acessibilidade__links li {
  margin: 0.3rem;
}
.acessibilidade__traducao {
  display: -webkit-flex;
  display: flex;
  grid-area: traducao;
  -webkit-justify-content: end;
  justify-content: end;
}
@media only screen and (max-width: 960px) {
  .acessibilidade__traducao {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.acessibilidade__traducao li {
  margin: 0.3rem;
}
.acessibilidade span {
  background-color: black;
  color: #FFFFFF;
  margin-left: 0.25em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  padding: 0 0.3em;
}
@media only screen and (max-width: 495px) {
  .acessibilidade span {
    display: none;
  }
}

.cabecalho {
  grid-area: cabecalho;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-areas: "logo menu-ufpr" "barra-titulo barra-titulo";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
}
@media only screen and (max-width: 960px) {
  .cabecalho {
    grid-template-areas: "menu-ufpr" "logo" "barra-titulo";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
}
.cabecalho__logo {
  background-color: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  grid-area: logo;
  height: 6rem;
  justify-self: start;
  margin: 1rem;
  padding: 1rem;
}
@media only screen and (max-width: 960px) {
  .cabecalho__logo {
    justify-self: center;
  }
}
.cabecalho__menu--ufpr {
  grid-area: menu-ufpr;
  justify-self: end;
  margin: 1rem;
}
@media only screen and (max-width: 960px) {
  .cabecalho__menu--ufpr {
    justify-self: center;
  }
}
.cabecalho__menu--ufpr ul {
  display: -webkit-flex;
  display: flex;
}
@media only screen and (max-width: 495px) {
  .cabecalho__menu--ufpr ul {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 495px) {
  .cabecalho__menu--ufpr ul li {
    margin: 0.31rem;
  }
}
.cabecalho__menu--ufpr ul li a {
  background: #467F8C;
  margin: 0 1px 0 0;
  padding: 4px;
}
.cabecalho__menu--ufpr ul li a:hover {
  background: rgba(70, 127, 140, 0.8);
  color: #6FB7BF;
}
.cabecalho__titulo {
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  display: grid;
  height: auto;
  grid-area: barra-titulo;
  grid-template-areas: "titulo pesquisa";
  grid-template-columns: 1fr 280px;
  grid-template-rows: auto;
  margin: 1rem 0;
}
@media only screen and (max-width: 960px) {
  .cabecalho__titulo {
    grid-template-areas: "titulo" "pesquisa";
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }
}
.cabecalho__titulo h1 {
  color: #FFFFFF;
  font-size: 4vw;
  grid-area: titulo;
  margin-left: 1rem;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0, rgba(0, 0, 0, 0.3) 2px 2px 0, rgba(0, 0, 0, 0.3) 3px 3px 0;
}
@media only screen and (max-width: 960px) {
  .cabecalho__titulo h1 {
    margin-left: 0;
    justify-self: center;
  }
}
.cabecalho__titulo #searchform {
  grid-area: pesquisa;
}
@media only screen and (max-width: 960px) {
  .cabecalho__titulo #searchform {
    justify-self: center;
    margin: 0.5rem;
  }
}
.cabecalho__titulo #searchform input {
  border: none;
  border-radius: 4px;
  padding: 15px;
  width: 250px;
}
.cabecalho__titulo #searchform #barra-pesquisa-botao {
  background: url("../img/Icone-Pesquisa.png") center no-repeat;
  background-size: 20px;
  border: none;
  cursor: pointer;
  height: 20px;
  position: relative;
  right: 30px;
  top: 5px;
  width: 20px;
}
.cabecalho__titulo #searchform label {
  display: none;
}

/******Menu Principal******/
.menu {
  background-color: #467F8C;
  display: grid;
  padding: 0 1rem;
  place-items: center;
  top: 0;
}
@media only screen and (max-width: 495px) {
  .menu {
    padding: 0;
    place-items: end center;
    width: 100%;
  }
}
.menu > ul {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 495px) {
  .menu > ul {
    display: none;
    grid-auto-flow: row;
    width: 100%;
  }
}
.menu > ul > li {
  margin: 0 1rem;
  padding: 0;
}
@media only screen and (max-width: 495px) {
  .menu > ul > li {
    border-bottom: 1px solid #6FB7BF;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}
.menu > ul > li a {
  color: #000000;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-decoration: none;
  text-align: center;
  font-size: 1.125rem;
}
.menu > ul > li a:focus {
  outline: none;
}
.menu > ul > li > a {
  border-top: 3px solid transparent;
  padding: 0.58rem 0.5rem;
  transition: 280ms all 120ms ease-out;
}
@media only screen and (max-width: 495px) {
  .menu > ul > li > a {
    border-top: 0;
  }
}
.menu > ul > li > a:hover, .menu > ul > li > a:focus {
  border-top-color: #6FB7BF;
  color: #6FB7BF;
}
.menu .dropdown {
  position: relative;
}
.menu .dropdown .dropdown-title {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-inline-flex;
  display: inline-flex;
}
.menu .dropdown .dropdown-title:after {
  content: "";
  border: 0.35rem solid transparent;
  border-top-color: rgba(255, 255, 255, 0.8);
  margin-left: 0.50em;
  transform: translateY(50%);
}
.menu .dropdown .dropdown-menu {
  background-color: #FFFFFF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0.15em 0.25em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0.15em 0.25em;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.15em 0.25em;
  left: 50%;
  min-width: 30ch;
  padding: 0.5em 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  position: absolute;
  top: calc(100% - 0.25rem);
  transform: rotateX(-90deg) translateX(-50%);
  transform-origin: top center;
  transition: 280ms all 120ms ease-out;
  visibility: hidden;
}
.menu .dropdown .dropdown-menu a {
  color: #467F8C;
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  padding: 0.5em;
  transition: 280ms all 120ms ease-out;
}
.menu .dropdown .dropdown-menu a:hover {
  background-color: rgba(111, 183, 191, 0.15);
}
.menu .dropdown .dropdown-menu a:focus {
  background-color: rgba(111, 183, 191, 0.25);
  outline: none;
}
.menu .dropdown:after {
  border: 0.5rem solid transparent;
  border-bottom-color: #FFFFFF;
  content: "";
  left: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: calc(100% - 1.25rem);
  transform: translateX(-50%);
  transition: 280ms all 120ms ease-out;
  will-change: opacity;
}
@media only screen and (max-width: 495px) {
  .menu .dropdown:after {
    top: 34px;
  }
}
.menu .dropdown:hover .dropdown-title, .menu .dropdown:focus-within .dropdown-title {
  border-top-color: #6FB7BF;
}
.menu .dropdown:hover .dropdown-menu, .menu .dropdown:focus-within .dropdown-menu {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  transform: rotateX(0) translateX(-50%);
  visibility: visible;
}
@media only screen and (max-width: 495px) {
  .menu .dropdown:hover .dropdown-menu, .menu .dropdown:focus-within .dropdown-menu {
    margin-bottom: 20px;
    position: relative;
    top: 10px;
  }
}
.menu .dropdown:hover .dropdown-menu a, .menu .dropdown:focus-within .dropdown-menu a {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.menu .dropdown:hover:after, .menu .dropdown:focus-within:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.menu .menu-toggle {
  background-color: #467F8C;
  display: none;
  color: #FFFFFF;
  cursor: pointer;
  float: right;
  font-size: 24px;
  line-height: 50px;
}
.menu .menu-toggle i {
  margin-left: 20px;
}
@media only screen and (max-width: 495px) {
  .menu .menu-toggle {
    display: block;
    width: 100%;
  }
}
.menu .on {
  display: grid !important;
}

main {
  height: 100vh;
}

body {
  background: lightgray;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #4B4B4B;
}
