html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: "" "";
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

a img {
  border: none;
}

.icones-traducao-sprite, .acessibilidade .icones-traducao-france, .acessibilidade .icones-traducao-spain, .acessibilidade .icones-traducao-united-states-of-america {
  background-image: url('/assets/img/icones-traducao-s1cbaf960c3.png');
  background-repeat: no-repeat;
}

/******Estilo da Barra Brasil******/
#footer-brasil {
  background: none repeat scroll 0% 0% #0042b1;
  padding: 1em 0px;
  max-width: 100%;
}

.acessibilidade .icones-traducao-france {
  background-position: 0 0;
}
.acessibilidade .icones-traducao-spain {
  background-position: 0 -18px;
}
.acessibilidade .icones-traducao-united-states-of-america {
  background-position: 0 -36px;
}
.acessibilidade .icones-traducao-france,
.acessibilidade .icones-traducao-spain,
.acessibilidade .icones-traducao-united-states-of-america {
  width: 16px;
  height: 16px;
}
