{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main class="conteudo--index">
        <!--Sessão de Botões de Atalho-->
        <section class="conteudo__atalhos">
            <!--Primeiro Botão de Atalho-->
            <div class="conteudo__atalhos__botao--sistema">
                <!--Imagem do Primeiro Botão de Atalho-->
                <!--Link para Modal de Login do Sistema-->
                <a href="{% url 'login' %}"><img class="conteudo__atalhos__botao__imagem imagem__atalho"
                        id="Icone-Sistema-CME" src="{% static 'assets/img/Icone-Sistema-CME.svg' %}" alt="Formulários"></a>
                <!--Título do Primeiro Botão de Atalho-->
                <h2>Sistema de Gerenciamento</h2>
            </div>
            <!--Segundo Botão de Atalho-->
            <div class="conteudo__atalhos__botao--servicos">
                <!--Imagem do Segundo Botão de Atalho-->
                <a href="servios_precos.html"><img class="conteudo__atalhos__botao__imagem imagem__atalho"
                        id="Icone-Tabela-CME" src="{% static 'assets/img/Icone-Tabela-CME.svg' %}" alt="Serviços"></a>
                <!--Título do Segundo Botão de Atalho-->
                <h2>Tabelas de Serviços e Preços</h2>
            </div>
            <!--Terceiro Botão de Atalho-->
            <div class="conteudo__atalhos__botao--normas">
                <!--Imagem do Terceiro Botão de Atalho-->
                <a href="{% url 'normas' %}"><img class="conteudo__atalhos__botao__imagem imagem__atalho" id="Icone-Normas-CME"
                        src="{% static 'assets/img/Icone-Normas-CME.svg' %}" alt="Normas"></a>
                <!--Título do Terceiro Botão de Atalho-->
                <h2>Normas</h2>
            </div>
        </section>
        <!--Sessão de Vídeo de Apresentação do CME-->
        <section class="conteudo__video">
            <!--Vídeo-->
            <iframe src="https://www.youtube.com/embed/p9KQesK7f78"></iframe>
        </section>
        <!--Sessão de Apresentação do CME-->
        <section class="conteudo__apresentacao">
            <!--Título da Apresentação-->
            <h2>Apresentação</h2>
            <!--Texto de Apresentação-->
            <p>
                O Centro de Microscopia Eletrônica (CME) da Universidade Federal do Paraná (UFPR) é o mais
                abrangente
                Laboratório de apoio à pesquisa científica em regime de funcionamento multiusuário da UFPR desde
                1968.
                Atualmente, o CME disponibiliza aos usuários equipamentos em microscopia eletrônica para a
                caracterização
                morfológica que possuem resoluções de 0,5 a 3 nm. Outras técnicas acessórias a estes
                equipamentos se
                destacam ampliando a capacidade analítica, tais como: a difração de elétrons, análise química de
                raios-X,
                a espectroscopia de emissão por catodo luminescência, estereoscopia em microscopia eletrônica de
                varredura (MEV)
                (imagem com perspectiva e informação 3D) e microtomografia de raio-X em MEV. Além das
                capacidades de visualização,
                espectroscópicas e microestruturais, os microscópios eletrônicos contam com estágios e
                porta-amostras com
                controle de temperatura na faixa de -180 a 110°C e na faixa de -25 a 1000°C, o que permite o
                acesso a
                observação e registro de alguns fenômenos durante as análises. No campo das microscopias ópticas
                há um
                equipamento com resolução de 200 nm acoplado com espectroscopia Raman. Completando o acervo de
                equipamentos,
                o microscópio de força atômica (AFM) adquire informações tridimensionais de alta resolução.
            </p>
        </section>
        <!--Sessão de Notícias de Destaque-->
        <section class="conteudo__destaques">
            <!--Título da Sessão de Destaques-->
            <h2>Destaques</h2>
            {% if destaque %}
                <!--Início da Estrutura de Notícia-->
                <article>
                    <!--Título do Destaque-->
                    <h3>{{ destaque.titulo }}</h3>
                    <!--Texto da Notícia-->
                    {{ destaque.texto|safe }} 
                </article>
            {% else %}
                <!--Início da Estrutura de Notícia-->
                <article>
                    <!--Título do Destaque-->
                    <h3></h3>
                    <!--Texto da Notícia-->
                    <p>Opa! Sem notícias no momento.</p> 
                </article>
            {% endif %}            
        </section>

        <!--Sessão de Notícias-->
        <section class="conteudo__noticias">
            <!--Título da Sessão-->
            <h2>Notícias</h2>
            {% if noticias %}
                {% for noticia in noticias %}
                    <!--Estrutura de Notícia-->
                    <article class="conteudo__noticias__noticia">
                        <!--Título da Notícia-->
                        <h3>{{noticia.titulo}}</h3>
                        <!--Data da Notícia-->
                        <h4>{{noticia.edicao|date:"SHORT_DATE_FORMAT"}}</h4>
                        <!--Texto da Notícia-->
                        <div class="conteudo__noticias__noticia__texto">
                            {% if noticia.texto|length < 255 %}                     
                                {{noticia.texto|safe}}                          
                            {% else %}
                                <p>{{noticia.texto|striptags|truncatechars:255}} <a id="leia-mais" href={% url 'noticia' noticia.slug %}>leia mais</a></p>                 
                            {% endif %}                        
                        </div>
                    </article>
                {% endfor %}
            {% else %}
                <!--Estrutura de Notícia-->
                <article class="conteudo__noticias__noticia">
                    <!--Título da Notícia-->
                    <h3></h3>
                    <!--Data da Notícia-->
                    <h4></h4>
                    <!--Texto da Notícia-->
                    <div class="conteudo__noticias__noticia__texto">
                        <p>Opa! Sem notícias no momento.</p>                      
                    </div>
                </article>
            {% endif %}
        </section>

        <!--Sessão de Estatísticas-->
        <section class="conteudo__estatistica">
            <!--Configuração Local do Google Charts-->
            <script type="text/javascript" src="{% static 'assets/js/charts.js' %}"></script>
            <!--Título da Divisão de Estatísticas-->
            <h2>Estatísticas</h2>
            <div id="grafico-escondido"></div>
            <a href="estatisticas.html">
                <div id="grafico"></div>
            </a>
        </section>
        <!--Sessão do Portfólio-->
        <section class="conteudo__portifolio">
            <!--Titulo da Sessão do Formuláiro de Contato-->
            <h2>Portfólio</h2>
            <!--Divisão do Slider-->
            <div class="conteudo__portifolio__slideshow">
                <!--Primeiro Slide-->
                <div class="conteudo__portifolio__slideshow__slide fade">
                    <!--Contexto de Imagem do Portfólio-->
                    <figure class="conteudo__portifolio__slideshow__slide__imagem">
                        <!--Imagem Portfólio-->
                        <img class="conteudo__portifolio__slideshow__slide__imagem__foto imagem__portifolio"
                        src="{% static 'assets/img/portifolio/MEV_Espiculas_Bio.png' %}" alt="Espículas de Esponja do Mar">
                        <!--Título da Imagem Portfólio-->
                        <figcaption class="conteudo__portifolio__slideshow__slide__imagem__titulo">Espículas de Esponjas do Mar</figcaption>
                    </figure>
                    <!--Detalhamento de Aquisição da Imagem do Portfólio-->
                    <div class="conteudo__portifolio__slideshow__slide__aquisicao">
                        <!--Texto de Detalhamento de Aquisição da Imagem do Portfólio-->
                        <h4>Equipamento:</h4>
                        <p>Microscópio Eletrônico de Varredura JEOL</p>
                        <h4>Descrição da Imagem:</h4>
                        <p>Essa imagem foi obtida com detetor de sinais de elétrons secundários num
                            tempo de exposição de 2 minutos com tensão de 15KV...</p>
                    </div>
                    <!--Descrição de Perfil do Solicitante da Imagem-->
                    <div class="conteudo__portifolio__slideshow__slide__pessoas">
                        <!--Imagem do Perfil do Solicitante da Imagem-->
                        <img class="conteudo__portifolio__slideshow__slide__pessoas__foto--solicitante imagem__perfil"
                            src="{% static 'assets/img/fotos-perfil/Perfil_Desconhecido.jpg' %}" alt="Imagem do Pesquisador">
                        <!--Descrição do Solicitante-->
                        <div class="conteudo__portifolio__slideshow__slide__pessoa__descrição--solicitante">
                            <!--Descrição da Pessoa que Gerarou a Imagem-->
                            <h4>Pesquisador:</h4>
                            <p>Mariana da Silva</p>
                            <h4>Departamento:</h4>
                            <p>Biologia Marinha</p>
                        </div>
                        <!--Imagem do Perfil do Técnico da Imagem-->
                        <img class="conteudo__portifolio__slideshow__slide__pessoas__foto--tecnico imagem__perfil"
                            src="{% static 'assets/img/fotos-perfil/Gustavo_Matos.jpg' %}" alt="Imagem do Técnico">
                        <!--Descrição do Técnico-->
                        <div class="conteudo__portifolio__slideshow__slide__pessoa__descrição--técnico">
                            <!--Descrição do Técnico que Gerarou a Imagem-->
                            <h4>Técnico:</h4>
                            <p>Luis Gustavo de Matos dos Santos</p>
                            <h4>Cargo:</h4>
                            <p>Técnico de Laboratório</p>
                        </div>
                    </div>
                </div>
                <!--Segundo Slide-->
                <div class="conteudo__portifolio__slideshow__slide fade">
                    <!--Contexto de Imagem do Portfólio-->
                    <figure class="conteudo__portifolio__slideshow__slide__imagem">
                        <!--Imagem Portfólio-->
                        <img class="conteudo__portifolio__slideshow__slide__imagem__foto imagem__portifolio"
                            src="{% static 'assets/img/portifolio/MEV_Inseto_Bio.png' %}" alt="Inseto">
                        <!--Título da Imagem Portfólio-->
                        <figcaption class="conteudo__portifolio__slideshow__slide__imagem__titulo">Cabeça de Formiga</figcaption>
                    </figure>
                    <!--Detalhamento de Aquisição da Imagem do Portfólio-->
                    <div class="conteudo__portifolio__slideshow__slide__aquisicao">
                        <!--Texto de Detalhamento de Aquisição da Imagem do Portfólio-->
                        <h4>Equipamento:</h4>
                        <p>Microscópio Eletrônico de Varredura JEOL</p>
                        <h4>Descrição da Imagem:</h4>
                        <p>Essa imagem foi obtida com detetor de sinais de elétrons secundários num
                            tempo de exposição de 2 minutos com tensão de 15KV...</p>
                    </div>
                    <!--Descrição de Perfil do Solicitante da Imagem-->
                    <div class="conteudo__portifolio__slideshow__slide__pessoas">
                        <!--Imagem do Perfil do Solicitante da Imagem-->
                        <img class="conteudo__portifolio__slideshow__slide__pessoas__foto--solicitante imagem__perfil"
                            src="{% static 'assets/img/fotos-perfil/Perfil_Desconhecido.jpg' %}" alt="Imagem do Pesquisador">
                        <!--Descrição do Solicitante-->
                        <div class="conteudo__portifolio__slideshow__slide__pessoa__descrição--solicitante">
                            <!--Descrição da Pessoa que Gerarou a Imagem-->
                            <h4>Pesquisador:</h4>
                            <p>Mariana da Silva</p>
                            <h4>Departamento:</h4>
                            <p>Biologia Marinha</p>
                        </div>
                        <!--Imagem do Perfil do Técnico da Imagem-->
                        <img class="conteudo__portifolio__slideshow__slide__pessoas__foto--tecnico imagem__perfil"
                            src="{% static 'assets/img/fotos-perfil/Gustavo_Matos.jpg' %}" alt="Imagem do Técnico">
                        <!--Descrição do Técnico-->
                        <div class="conteudo__portifolio__slideshow__slide__pessoa__descrição--técnico">
                            <!--Descrição do Técnico que Gerarou a Imagem-->
                            <h4>Técnico:</h4>
                            <p>Luis Gustavo de Matos dos Santos</p>
                            <h4>Cargo:</h4>
                            <p>Técnico de Laboratório</p>
                        </div>
                    </div>
                </div>
                <!--Terceiro Slide-->
                <div class="conteudo__portifolio__slideshow__slide fade">
                    <!--Contexto de Imagem do Portfólio-->
                    <figure class="conteudo__portifolio__slideshow__slide__imagem">
                        <!--Imagem Portfólio-->
                        <img class="conteudo__portifolio__slideshow__slide__imagem__foto imagem__portifolio"
                        src="{% static 'assets/img/portifolio/MEV_Planta_Transv_Bio.png' %}" alt="Transversal de Planta">
                        <!--Título da Imagem Portfólio-->
                        <figcaption class="conteudo__portifolio__slideshow__slide__imagem__titulo">Transversal de Planta</figcaption>
                    </figure>
                    <!--Detalhamento de Aquisição da Imagem do Portfólio-->
                    <div class="conteudo__portifolio__slideshow__slide__aquisicao">
                        <!--Texto de Detalhamento de Aquisição da Imagem do Portfólio-->
                        <h4>Equipamento:</h4>
                        <p>Microscópio Eletrônico de Varredura JEOL</p>
                        <h4>Descrição da Imagem:</h4>
                        <p>Essa imagem foi obtida com detetor de sinais de elétrons secundários num
                            tempo de exposição de 2 minutos com tensão de 15KV...</p>
                    </div>
                    <!--Descrição de Perfil do Solicitante da Imagem-->
                    <div class="conteudo__portifolio__slideshow__slide__pessoas">
                        <!--Imagem do Perfil do Solicitante da Imagem-->
                        <img class="conteudo__portifolio__slideshow__slide__pessoas__foto--solicitante imagem__perfil"
                            src="{% static 'assets/img/fotos-perfil/Perfil_Desconhecido.jpg' %}" alt="Imagem do Pesquisador">
                        <!--Descrição do Solicitante-->
                        <div class="conteudo__portifolio__slideshow__slide__pessoa__descrição--solicitante">
                            <!--Descrição da Pessoa que Gerarou a Imagem-->
                            <h4>Pesquisador:</h4>
                            <p>Mariana da Silva</p>
                            <h4>Departamento:</h4>
                            <p>Biologia Marinha</p>
                        </div>
                        <!--Imagem do Perfil do Técnico da Imagem-->
                        <img class="conteudo__portifolio__slideshow__slide__pessoas__foto--tecnico imagem__perfil"
                            src="{% static 'assets/img/fotos-perfil/Gustavo_Matos.jpg' %}" alt="Imagem do Técnico">
                        <!--Descrição do Técnico-->
                        <div class="conteudo__portifolio__slideshow__slide__pessoa__descrição--técnico">
                            <!--Descrição do Técnico que Gerarou a Imagem-->
                            <h4>Técnico:</h4>
                            <p>Luis Gustavo de Matos dos Santos</p>
                            <h4>Cargo:</h4>
                            <p>Técnico de Laboratório</p>
                        </div>
                    </div>
                </div>

                <!--Botões de Anterior e Próximo-->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <!--Pontos Circulos dos Slides-->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </section>
        <!--Sessão do Formuláiro de Contato-->
        <section class="conteudo__contato">
            <!--Titulo da Sessão do Formuláiro de Contato-->
            <h2>Contato</h2>
            <!--Formuláiro de Contato-->
            <form class="conteudo__contato__formulario formulario--simples" action="{% url 'contato' %}" method="POST"
            enctype="multipart/form-data">
                {% csrf_token %}
                <label for="nome">Nome</label>
                <input name="nome" type="text" id="nome" required placeholder="Insira seu nome">

                <label for="email">E-mail</label>
                <input name="email" type="email" id="email" required placeholder="Agora seu e-mail">
                <span id="sugestao"></span>

                <label for="assunto">Assunto</label>
                <input name="assunto" type="text" id="assunto" required placeholder="Do que se trata sua mensagem?">

                <label for="mensagem">Mensagem</label>
                <textarea name="mensagem" id="mensagem" required></textarea>

                <button type="submit" value="Enviar formulário">Enviar</button>
            </form>
        </section>
        <!--Sessão do Mapa de Localização-->
        <section class="conteudo__localizacao">
            <!--Título da Sessão do Mapa de Localização-->
            <h2>Localização</h2>
            <!--Mapa de Localização-->
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.615521657702!2d-49.2344792844398!3d-25.451114539961164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce510c806c2e1%3A0xec547af349b1d6fa!2sCentro%20de%20Microscopia%20Eletr%C3%B4nica%20UFPR!5e0!3m2!1spt-BR!2sbr!4v1615827513374!5m2!1spt-BR!2sbr"
                style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <!--Descrição de Localização-->
            <div class="conteudo__localizacao__endereco">
                <p>O endereço do Centro de Microscopia Eletrônica é:</p>
                <p>Avenida Coronel Francisco Heráclito dos Santos, 100.</p>
                <p>Jardim das Américas – Centro Politécnico.</p>
                <p>Caixa Postal 19031 – CEP 81530-000</p>
            </div>
        </section>
    </main>
{% endblock  %}