{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="conteudo--texto">
        <h2>Normas</h2>
        <section>
            <p>O Centro de Microscopia Eletrônica informa as regras internas de utilização do espaço para uso da
                comunidade acadêmica.</p>
            <h3>Usuários</h3>
            <p>Os usuários internos da UFPR serão classificados como usuários dependentes e usuários autônomos;</p>
            <p>Usuários externos da UFPR deverão entrar em contato com o CME para orientações específicas;</p>
            <h3>Formulário </h3>

            <p>Para uso dos serviços do CME é necessário o preenchimento do <a
                    href="http://www.cme.ufpr.br/?page_id=53"><u>Formulário de Solicitação de Serviço</u> </a> (FSS), disponível
                no site www.cme.ufpr.br</p>
            <p>Não serão agendados serviços sem o devido preenchimento do FSS, inclusive no caso de usuários autônomos.
            </p>
            <p>A inscrição na lista de espera para uso dos equipamentos dependerá da análise do FSS pelos responsáveis
                técnicos dos microscópios.</p>
            <h3>Agendamentos </h3>
            <p>Os agendamentos das análises só poderão ser realizados pelos responsáveis técnicos dos microscópios,
                sendo feitos de acordo com a quantidade de itens (imagens, análises, etc) informadas no FSS.</p>
            <p>As imagens serão obtidas com resolução de 1024x1024 pixels. Apenas em casos justificáveis, serão obtidas
                imagens com resolução superior.</p>
            <p>Não serão realizados serviços além da quantidade descrita no FSS.</p>
            <p>Serão limitados a dois agendamentos por semana por usuário para os equipamentos de maior demanda.</p>
            <p>Os agendamentos de análises serão de no máximo três horas por período.</p>
            <p>Em caso de necessidade de novas análises solicitar-se-á um novo FSS.</p>
            <p>Não será permitido o envio de dois ou mais FSS na sequência. Caso isso ocorra, o segundo FSS e os
                subsequentes serão arquivados. Um novo FSS só poderá ser enviado a partir da conclusão do primeiro
                pedido.</p>
            <p>O acesso às agendas é expressamente <u>RESTRITO</u> aos funcionários do CME;</p>
            <p>O cancelamento de horários deverá ser informado aos responsáveis técnicos dos microscópios com no mínimo
                24 horas de antecedência.</p>
            <p>O horário cancelado será disponibilizado para a sequência da fila de espera.</p>
            <p>As análises só serão feitas para as amostras do solicitante e na sua presença.</p>
            <h3>Penalidades </h3>
            <p><strong>No caso de ausência de retorno do usuário ao e-mail de agendamento do CME no prazo de 15 dias, o FSS será automaticamente arquivado.</strong></p>
            <p>O não comparecimento nos atendimentos sem a comunicação formal (atestado ou justificativa assinada pelo
            orientador da pesquisa) aos responsáveis técnicos do CME acarretará em advertência na primeira
            ocorrência e de multa a partir da segunda falta.</p>
            <p>A multa corresponde a um período de carência de 180 dias para voltar a utilizar os serviços do CME.</p>
            <p>Ainda, numa terceira falta no intervalo de 1 ano, o usuário terá seus formulários negados, sem
            possibilidades de análises no período de 360 dias.</p>
            <p><strong>Casos omissos serão analisados pela Direção do CME.</strong></p>            
        </section>
    </main>
{% endblock  %}