{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="conteudo--formularios">
    <img class="conteudo__sistema__logo imagem__atalho" id="Icone-Sistema-CME"
        src="{% static 'assets/img/Icone-Sistema-CME.svg' %}" alt="Formulários">
    <h2>Sistema de Gerenciamento</h2>
    <h3>Cadastro de Docente</h3>
    <section>
        {% if dados %}
            <form class="formulario--cadastro-docente" action="{% url 'cadastro_docente' consultado_no_SIGA=1 %}" method="POST"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="formulario__foto">
                    <div class="formulario__foto__upload">
                        <label class="formulario__foto__upload__label" for="imagem_uploads">Escolha sua imagem de perfil
                            no formato PNG, JPG ou JPEG </label>
                        <input class="formulario__foto__upload__input" type="file" id="imagem_uploads" name="imagem_uploads"
                            accept="image/*">
                    </div>
                    <div class="formulario__foto__preview">
                        <img class="formulario__foto__preview__foto imagem__perfil"
                            src="{% static 'assets/img/fotos-perfil/Perfil_Desconhecido.jpg' %}"
                            alt="Imagem do Pesquisador">
                    </div>
                </div>
                <fieldset class="formulario__nome">
                    <label class="formulario__nome__label" for="nome"><b>Nome</b></label>
                    <input class="formulario__nome__input" type="text" name="nome" id="nome" required
                        placeholder="Digite seu nome" value="{{dados.nome_do_professor}}">
                </fieldset>
                <fieldset class="formulario__sobrenome">
                    <label class="formulario__sobrenome__label" for="sobrenome"><b>Sobrenome</b></label>
                    <input class="formulario__sobrenome__input" type="text" name="sobrenome" id="sobrenome" required
                        placeholder="Digite seu sobrenome" value="">
                </fieldset>
                <fieldset class="formulario__ramal">
                    <label class="formulario__ramal__label" for="ramal"><b>Ramal</b></label>
                    <input class="formulario__ramal__input" type="tel" name="ramal" id="ramal" required
                        placeholder="Informe seu ramal no formato xxxx" pattern="[0-9]{4}" value="">
                </fieldset>
                <fieldset class="formulario__celular">
                    <label class="formulario__celular__label" for="celular"><b>Celular</b></label>
                    <input class="formulario__celular__input" type="tel" name="celular" id="celular" required
                        placeholder="Informe um celular no formato (xx) xxxxx-xxxx"
                        pattern="\([0-9]{2}\) [0-9]{4,5}-[0-9]{4}" value="">
                </fieldset>
                <fieldset class="formulario__lattes">
                    <label class="formulario__lattes__label" for="lattes"><b>Currículo Lattes</b></label>
                    <input class="formulario__lattes__input" type="url" name="lattes" id="lattes"
                        placeholder="Insira a URL do seu currículo lattes" value="">
                </fieldset>
                <fieldset class="formulario__instituicao">
                    <label class="formulario__instituicao__label" for="instituicao"><b>Instituição</b></label>
                    <input class="formulario__instituicao__input" type="text" name="instituicao" id="instituicao" required
                        value="Universidade Federal do Paraná" readonly>

                    <label class="formulario__instituicao__setor__label" for="setor"><b>Setor Principal</b></label>
                    <select class="formulario__instituicao__setor__select" name="setor" id="setor">
                        <option value="Setor de Artes, Comunicação e Design">Setor de Artes, Comunicação e Design</option>
                        <option value="Setor de Ciências Agrárias">Setor de Ciências Agrárias</option>
                        <option value="Setor de Ciências Biológicas">Setor de Ciências Biológicas</option>
                        <option value="Setor de Ciêcnias da Saúde">Setor de Ciêcnias da Saúde</option>
                        <option value="Setor de Ciências da Terra">Setor de Ciências da Terra</option>
                        <option value="Setor de Ciêcnias Exatas">Setor de Ciêcnias Exatas</option>
                        <option value="Setor de Ciências Humanas">Setor de Ciências Humanas</option>
                        <option value="Setor de Ciências Jurídicas">Setor de Ciências Jurídicas</option>
                        <option value="Setor de Ciências Sociais Aplicadas">Setor de Ciências Sociais Aplicadas</option>
                        <option value="Setor de Educação">Setor de Educação</option>
                        <option value="Setor de Educação Profissional e Tecnológica">Setor de Educação Profissional e
                            Tecnológica</option>
                        <option value="Setor de Tecnologia">Setor de Tecnologia</option>
                        <option value="Setor Litoral">Setor Litoral</option>
                        <option value="Setor Palotina">Setor Palotina</option>
                        <option value="Campus de Jandaia do Sul">Campus de Jandaia do Sul</option>
                    </select>
                </fieldset>
                <fieldset class="formulario__departamentos">
                    <h3>Departamentos de Atuação</h3>
                    {% for vinculo in dados.vinculos %}
                    <div class="formulario__departamentos__departamento">
                        <input class="formulario__departamentos__departamento__input" type="checkbox"
                            name="departamento {{ forloop.counter }}" id="departamento {{ forloop.counter }}" checked
                            value="{{vinculo}}">
                        <label class="formulario__departamentos__departamento__label"
                            for="departamento {{ forloop.counter }}">{{vinculo}}</label>
                    </div>
                    {% endfor %}
                    <div class="formulario__departamentos__controle" id="controle">
                        <i class="fa fa-plus" aria-hidden="true" onclick="addDepartamento();"> Adcionar Departamento</i>
                    </div>
                </fieldset>
                <fieldset class="formulario__discentes">
                    <h3>Discentes</h3>
                    {% for discente in dados.alunos %}
                    <div class="formulario__discentes__discente" id="discente_{{forloop.counter}}">
                        <i class="fa fa-times formulario__discentes__discente__remove" aria-hidden="true"
                            onclick="remover('#discente_{{forloop.counter}}')"></i>
                        <div class="formulario__discentes__discente__nome">
                            <label class="formulario__discentes__discente__nome__label"
                                for="nome_discente_{{forloop.counter}}"><b>Nome</b>
                            </label>
                            <input class="formulario__discentes__discente__nome__input" type="text"
                                name="nome_discente_{{forloop.counter}}" id="nome_discente_{{forloop.counter}}"
                                placeholder="Digite o nome do discente" required="" value="{{discente.nome_do_aluno}}">
                        </div>
                        <div class="formulario__discentes__discente__email">
                            <label class="formulario__discentes__discente__email__label"
                                for="email_discente_{{forloop.counter}}"><b>E-mail</b>
                            </label>
                            <input class="formulario__discentes__discente__email__input" type="email"
                                name="email_discente_{{forloop.counter}}" id="email_discente_{{forloop.counter}}"
                                placeholder="Digite o email do discente" required>
                        </div>
                        <div class="formulario__discentes__discente__vinculo">
                            <label class="formulario__discentes__discente__vinculo__label"
                                for="vinculo_discente_{{forloop.counter}}"><b>Vínculo</b>
                            </label>
                            <select class="formulario__discentes__discente__vinculo__select"
                                name="vinculo_discente_{{forloop.counter}}" id="vinculo_discente_{{forloop.counter}}">
                                {% if discente.nivel ==  'Iniciação Científica' %}
                                <option value="Iniciação Científica" selected>Iniciação Científica</option>
                                {% else %}
                                <option value="Iniciação Científica">Iniciação Científica</option>
                                {% endif %}
                                {% if discente.nivel ==  'Mestrado' %}
                                <option value="Mestrado" selected>Mestrado</option>
                                {% else %}
                                <option value="Mestrado">Mestrado</option>
                                {% endif %}
                                {% if discente.nivel ==  'Doutorado' %}
                                <option value="Doutorado" selected>Doutorado</option>
                                {% else %}
                                <option value="Doutorado">Doutorado</option>
                                {% endif %}
                                {% if discente.nivel ==  'Pós-Doutorado' %}
                                <option value="Pós-Doutorado" selected>Pós-Doutorado</option>
                                {% else %}
                                <option value="Pós-Doutorado">Pós-Doutorado</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="formulario__discentes__discente__inicio">
                            <label class="formulario__discentes__discente__inicio__label"
                                for="inicio_discente_{{forloop.counter}}"><b>Início
                                    do Vínculo</b>
                            </label>
                            <input class="formulario__discentes__discente__inicio__input" type="date"
                                name="inicio_discente_{{forloop.counter}}" id="inicio_discente_{{forloop.counter}}"
                                value="{{discente.inicio}}">
                        </div>
                        <div class="formulario__discentes__discente__setor">
                            <label class="formulario__discentes__discente__setor__label"
                                for="setor_discente_{{forloop.counter}}"><b>Setor</b>
                            </label>
                            <select class="formulario__discentes__discente__setor__select"
                                name="setor_discente_{{forloop.counter}}" id="setor_discente_{{forloop.counter}}">
                                <option value="Setor de Artes, Comunicação e Design">Setor de Artes, Comunicação e
                                    Design</option>
                                <option value="Setor de Ciências Agrárias">Setor de Ciências Agrárias</option>
                                <option value="Setor de Ciências Biológicas">Setor de Ciências Biológicas</option>
                                <option value="Setor de Ciêcnias da Saúde">Setor de Ciêcnias da Saúde</option>
                                <option value="Setor de Ciências da Terra">Setor de Ciências da Terra</option>
                                <option value="Setor de Ciêcnias Exatas">Setor de Ciêcnias Exatas</option>
                                <option value="Setor de Ciências Humanas">Setor de Ciências Humanas</option>
                                <option value="Setor de Ciências Jurídicas">Setor de Ciências Jurídicas</option>
                                <option value="Setor de Ciências Sociais Aplicadas">Setor de Ciências Sociais Aplicadas
                                </option>
                                <option value="Setor de Educação">Setor de Educação</option>
                                <option value="Setor de Educação Profissional e Tecnológica">Setor de Educação
                                    Profissional e Tecnológica</option>
                                <option value="Setor de Tecnologia">Setor de Tecnologia</option>
                                <option value="Setor Litoral">Setor Litoral</option>
                                <option value="Setor Palotina">Setor Palotina</option>
                                <option value="Campus de Jandaia do Sul">Campus de Jandaia do Sul</option>
                            </select>
                        </div>
                        <div class="formulario__discentes__discente__departamento">
                            <label class="formulario__discentes__discente__departamento__label"
                                for="departamento_discente_{{forloop.counter}}"><b>Departamento</b>
                            </label>
                            <select class="formulario__discentes__discente__departamento__select"
                                name="departamento_discente_{{forloop.counter}}"
                                id="departamento_discente_{{forloop.counter}}">
                                {% for vinculo in dados.vinculos %}
                                <option value="{{vinculo}}">{{vinculo}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="formulario__discentes__controle" id="controle_discentes">
                        <i class="fa fa-plus" aria-hidden="true" onclick="addDiscente();"> Adicionar Discente</i>
                    </div>
                </fieldset>
                <div class="formulario__login">
                    <h3 class="formulario__login__titulo">Informações de Login</h3>
                    <fieldset class="formulario__login__email">
                        <label class="formulario__login__email__label" for="email"><b>E-mail</b></label>
                        <input class="formulario__login__email__input" type="email" name="email1" id="email" required
                            placeholder="Digite seu email" value="">
                    </fieldset>
                    <fieldset class="formulario__login__email__confirmacao">
                        <label class="formulario__login__email__confirmacao__label" for="confirma-email"><b>Confirmação de E-mail</b></label>
                        <input class="formulario__login__email__confirmacao__input" type="email" name="email2" id="confirma-email" required
                            placeholder="Digite seu email" value="">
                    </fieldset>
                    <div class="formulario__login__senha">
                        <label class="formulario__login__senha__label" for="senha"><b>Senha</b></label>
                        <input class="formulario__login__senha__input" type="password" name="password1" id="senha" required
                            placeholder="Digite uma senha" value="">
                        <i class="fa fa-eye" aria-hidden="true" id="icone-senha"
                            onclick="revelarCodigo('senha', 'icone-senha');"></i>
                    </div>
                    <div class="formulario__login__senha__confirmacao">
                        <label class="formulario__login__senha__confirmacao__label" for="confirma-senha"><b>Confirmação de
                                Senha</b></label>
                        <input class="formulario__login__senha__confirmacao__input" type="password" name="password2"
                            id="confirma-senha" required placeholder="Confirme sua senha" value="">
                        <i class="fa fa-eye" aria-hidden="true" id="icone-confirma-senha"
                            onclick="revelarCodigo('confirma-senha', 'icone-confirma-senha');"></i>
                    </div>
                </div>
                <div class="formulario__avisos" id='formulario-avisos'>
                    <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Sua senha deve ter 8 digitos ou mais, conter caracteres especiais, números, letras minúsculas e maiúculas.</p>
                    <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Essa senha será usada para pré-cadastro dos alunos registrados nesse formulário.</p>
                    <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Revise as informações antes de cadastrar.</p>
                    <span id="sugestao"></span>
                </div>
                <fieldset class="formulario__aceitacao">
                    <input class="formulario__aceitacao__input" type="checkbox" name="aceite-nomas" id="aceite-nomas">
                    <label class="formulario__aceitacao__label" for="aceite-nomas">Declaro que conheço e concordo com
                        as <a href="normas.html" target="_blank" rel="noopener noreferrer">normas</a> de uso do Sistema
                        de
                        Gerenciamento do CME</label>
                </fieldset>
                <fieldset class="formulario__botao">
                    <button class="formulario__botao" id="botao-enviar" type="submit">Cadastrar</button>
                </fieldset>
                <input type="hidden" name="username" value="">
            </form>
        {% else %}
            <form class="formulario--cadastro-docente" action="{% url 'cadastro_docente' consultado_no_SIGA=0 %}" method="POST"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="formulario__foto">
                    <div class="formulario__foto__upload">
                        <label class="formulario__foto__upload__label" for="imagem_uploads">Escolha sua imagem de perfil
                            no formato PNG, JPG ou JPEG </label>
                        <input class="formulario__foto__upload__input" type="file" id="imagem_uploads" name="imagem_uploads"
                            accept="image/*">
                    </div>
                    <div class="formulario__foto__preview">
                        <img class="formulario__foto__preview__foto imagem__perfil"
                            src="{% static 'assets/img/fotos-perfil/Perfil_Desconhecido.jpg' %}"
                            alt="Imagem do Pesquisador">
                    </div>
                </div>
                <fieldset class="formulario__nome">
                    <label class="formulario__nome__label" for="nome"><b>Nome</b></label>
                    <input class="formulario__nome__input" type="text" name="nome" id="nome" required
                        placeholder="Digite seu nome" value="">
                </fieldset>
                <fieldset class="formulario__sobrenome">
                    <label class="formulario__sobrenome__label" for="sobrenome"><b>Sobrenome</b></label>
                    <input class="formulario__sobrenome__input" type="text" name="sobrenome" id="sobrenome" required
                        placeholder="Digite seu sobrenome" value="">
                </fieldset>
                <fieldset class="formulario__ramal">
                    <label class="formulario__ramal__label" for="ramal"><b>Ramal</b></label>
                    <input class="formulario__ramal__input" type="tel" name="ramal" id="ramal" required
                        placeholder="Informe seu ramal no formato xxxx" pattern="[0-9]{4}" value="">
                </fieldset>
                <fieldset class="formulario__celular">
                    <label class="formulario__celular__label" for="celular"><b>Celular</b></label>
                    <input class="formulario__celular__input" type="tel" name="celular" id="celular" required
                        placeholder="Informe um celular no formato (xx) xxxxx-xxxx"
                        pattern="\([0-9]{2}\) [0-9]{4,5}-[0-9]{4}" value="">
                </fieldset>
                <fieldset class="formulario__lattes">
                    <label class="formulario__lattes__label" for="lattes"><b>Currículo Lattes</b></label>
                    <input class="formulario__lattes__input" type="url" name="lattes" id="lattes"
                        placeholder="Insira a URL do seu currículo lattes" value="">
                </fieldset>
                <fieldset class="formulario__instituicao">
                    <label class="formulario__instituicao__label" for="instituicao"><b>Instituição</b></label>
                    <input class="formulario__instituicao__input" type="text" name="instituicao" id="instituicao" required
                        value="Universidade Federal do Paraná" readonly>

                    <label class="formulario__instituicao__setor__label" for="setor"><b>Setor Principal</b></label>
                    <select class="formulario__instituicao__setor__select" name="setor" id="setor">
                        <option value="Setor de Artes, Comunicação e Design">Setor de Artes, Comunicação e Design</option>
                        <option value="Setor de Ciências Agrárias">Setor de Ciências Agrárias</option>
                        <option value="Setor de Ciências Biológicas">Setor de Ciências Biológicas</option>
                        <option value="Setor de Ciêcnias da Saúde">Setor de Ciêcnias da Saúde</option>
                        <option value="Setor de Ciências da Terra">Setor de Ciências da Terra</option>
                        <option value="Setor de Ciêcnias Exatas">Setor de Ciêcnias Exatas</option>
                        <option value="Setor de Ciências Humanas">Setor de Ciências Humanas</option>
                        <option value="Setor de Ciências Jurídicas">Setor de Ciências Jurídicas</option>
                        <option value="Setor de Ciências Sociais Aplicadas">Setor de Ciências Sociais Aplicadas</option>
                        <option value="Setor de Educação">Setor de Educação</option>
                        <option value="Setor de Educação Profissional e Tecnológica">Setor de Educação Profissional e
                            Tecnológica</option>
                        <option value="Setor de Tecnologia">Setor de Tecnologia</option>
                        <option value="Setor Litoral">Setor Litoral</option>
                        <option value="Setor Palotina">Setor Palotina</option>
                        <option value="Campus de Jandaia do Sul">Campus de Jandaia do Sul</option>
                    </select>
                </fieldset>
                <fieldset class="formulario__departamentos">
                    <h3>Departamentos de Atuação</h3>
                    <div class="formulario__departamentos__controle" id="controle">
                        <i class="fa fa-plus" aria-hidden="true" onclick="addDepartamento();"> Adcionar Departamento</i>
                    </div>
                </fieldset>
                <fieldset class="formulario__discentes">
                    <h3>Discentes</h3>

                    <div class="formulario__discentes__discente" id="discente_1">
                        <i class="fa fa-times formulario__discentes__discente__remove" aria-hidden="true"
                            onclick="remover('#discente_1')"></i>
                        <div class="formulario__discentes__discente__nome">
                            <label class="formulario__discentes__discente__nome__label"
                                for="nome_discente_1"><b>Nome</b>
                            </label>
                            <input class="formulario__discentes__discente__nome__input" type="text"
                                name="nome_discente_1" id="nome_discente_1"
                                placeholder="Digite o nome do discente" value="">
                        </div>
                        <div class="formulario__discentes__discente__email">
                            <label class="formulario__discentes__discente__email__label"
                                for="email_discente_1"><b>E-mail</b>
                            </label>
                            <input class="formulario__discentes__discente__email__input" type="email"
                                name="email_discente_1" id="email_discente_1"
                                placeholder="Digite o email do discente">
                        </div>
                        <div class="formulario__discentes__discente__vinculo">
                            <label class="formulario__discentes__discente__vinculo__label"
                                for="vinculo_discente_1"><b>Vínculo</b>
                            </label>
                            <select class="formulario__discentes__discente__vinculo__select"
                                name="vinculo_discente_1" id="vinculo_discente_1">
                                <option value="Iniciação Científica">Iniciação Científica</option>
                                <option value="Mestrado">Mestrado</option>
                                <option value="Doutorado">Doutorado</option>
                                <option value="Pós-Doutorado">Pós-Doutorado</option>
                            </select>
                        </div>
                        <div class="formulario__discentes__discente__inicio">
                            <label class="formulario__discentes__discente__inicio__label"
                                for="inicio_discente_1"><b>Início
                                    do Vínculo</b>
                            </label>
                            <input class="formulario__discentes__discente__inicio__input" type="date"
                                name="inicio_discente_1" id="inicio_discente_1"
                                value="">
                        </div>
                        <div class="formulario__discentes__discente__setor">
                            <label class="formulario__discentes__discente__setor__label"
                                for="setor_discente_1"><b>Setor</b>
                            </label>
                            <select class="formulario__discentes__discente__setor__select"
                                name="setor_discente_1" id="setor_discente_1">
                                <option value="Setor de Artes, Comunicação e Design">Setor de Artes, Comunicação e
                                    Design</option>
                                <option value="Setor de Ciências Agrárias">Setor de Ciências Agrárias</option>
                                <option value="Setor de Ciências Biológicas">Setor de Ciências Biológicas</option>
                                <option value="Setor de Ciêcnias da Saúde">Setor de Ciêcnias da Saúde</option>
                                <option value="Setor de Ciências da Terra">Setor de Ciências da Terra</option>
                                <option value="Setor de Ciêcnias Exatas">Setor de Ciêcnias Exatas</option>
                                <option value="Setor de Ciências Humanas">Setor de Ciências Humanas</option>
                                <option value="Setor de Ciências Jurídicas">Setor de Ciências Jurídicas</option>
                                <option value="Setor de Ciências Sociais Aplicadas">Setor de Ciências Sociais Aplicadas
                                </option>
                                <option value="Setor de Educação">Setor de Educação</option>
                                <option value="Setor de Educação Profissional e Tecnológica">Setor de Educação
                                    Profissional e Tecnológica</option>
                                <option value="Setor de Tecnologia">Setor de Tecnologia</option>
                                <option value="Setor Litoral">Setor Litoral</option>
                                <option value="Setor Palotina">Setor Palotina</option>
                                <option value="Campus de Jandaia do Sul">Campus de Jandaia do Sul</option>
                            </select>
                        </div>
                        <div class="formulario__discentes__discente__departamento">
                            <label class="formulario__discentes__discente__departamento__label"
                                for="departamento_discente_1"><b>Departamento</b>
                            </label>
                            <select class="formulario__discentes__discente__departamento__select"
                                name="departamento_discente_1"
                                id="departamento_discente_1">
                            </select>
                        </div>
                    </div>
                    <div class="formulario__discentes__controle" id="controle_discentes">
                        <i class="fa fa-plus" aria-hidden="true" onclick="addDiscente();"> Adicionar Discente</i>
                    </div>
                </fieldset>
                <div class="formulario__login">
                    <h3 class="formulario__login__titulo">Informações de Login</h3>
                    <fieldset class="formulario__login__email">
                        <label class="formulario__login__email__label" for="email"><b>E-mail</b></label>
                        <input class="formulario__login__email__input" type="email" name="email1" id="email" required
                            placeholder="Digite seu email" value="">
                    </fieldset>
                    <fieldset class="formulario__login__email__confirmacao">
                        <label class="formulario__login__email__confirmacao__label" for="confirma-email"><b>Confirmação de E-mail</b></label>
                        <input class="formulario__login__email__confirmacao__input" type="email" name="email2" id="confirma-email" required
                            placeholder="Digite seu email" value="">
                    </fieldset>
                    <div class="formulario__login__senha">
                        <label class="formulario__login__senha__label" for="senha"><b>Senha</b></label>
                        <input class="formulario__login__senha__input" type="password" name="password1" id="senha" required
                            placeholder="Digite uma senha" value="">
                        <i class="fa fa-eye" aria-hidden="true" id="icone-senha"
                            onclick="revelarCodigo('senha', 'icone-senha');"></i>
                    </div>
                    <div class="formulario__login__senha__confirmacao">
                        <label class="formulario__login__senha__confirmacao__label" for="confirma-senha"><b>Confirmação de
                                Senha</b></label>
                        <input class="formulario__login__senha__confirmacao__input" type="password" name="password2"
                            id="confirma-senha" required placeholder="Confirme sua senha" value="">
                        <i class="fa fa-eye" aria-hidden="true" id="icone-confirma-senha"
                            onclick="revelarCodigo('confirma-senha', 'icone-confirma-senha');"></i>
                    </div>
                </div>
                <span id="sugestao"></span>
                <fieldset class="formulario__aceitacao">
                    <input class="formulario__aceitacao__input" type="checkbox" name="aceite-nomas" id="aceite-nomas">
                    <label class="formulario__aceitacao__label" for="aceite-nomas">Declaro que conheço e concordo com
                        as <a href="normas.html" target="_blank" rel="noopener noreferrer">normas</a> de uso do Sistema
                        de
                        Gerenciamento do CME</label>
                </fieldset>
                <fieldset class="formulario__botao">
                    <button class="formulario__botao" id="botao-enviar" type="submit">Cadastrar</button>
                </fieldset>
                <input type="hidden" name="username" value="">
            </form>
        {% endif %}
    </section>
</main>
{% endblock %}