{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="conteudo--formularios">
    <img class="conteudo__sistema__logo imagem__atalho" id="Icone-Sistema-CME"
        src="{% static 'assets/img/Icone-Sistema-CME.svg' %}" alt="Formulários">
    <h2>Sistema de Gerenciamento</h2>
    <h3>Cadastro de Externos</h3>
    <section>
        <form class="formulario--cadastro-externos" action="{% url 'cadastro_externos' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="formulario__tipo">
                <h4 class="formulario__tipo__titulo">Tipo de instituição</h4>
                <div class="formulario__tipo__escolha">
                    <input class="formulario__tipo__escolha__input--publico" type="radio" name="tipo-instituicao"
                        id="publicos" value="publicos" required>
                    <label class="formulario__tipo__escolha__label--publico" for="publicos">Universidade Pública ou
                        Órgão Público</label>
                    <input class="formulario__tipo__escolha__input--privado" type="radio" name="tipo-instituicao"
                        id="privados" value="privados" required>
                    <label class="formulario__tipo__escolha__label--privado" for="privados">Instituição
                        Privada</label>
                </div>
            </fieldset>
            <div class="formulario__instituicao">
                <h4 class="formulario__instituicao__titulo">Dados da Instituição</h4>
                <fieldset class="formulario__instituicao__razao">
                    <label class="formulario__instituicao__razao__label" for="razao"><b>Razão Social</b></label>
                    <input class="formulario__instituicao__razao__input" type="text" name="razao" id="razao" required
                        placeholder="Digite a razão social da instuição" value="">
                </fieldset>
                <fieldset class="formulario__instituicao__cnpj">
                    <label class="formulario__instituicao__cnpj__label" for="cnpj"><b>CNPJ</b></label>
                    <input class="formulario__instituicao__cnpj__input" type="text" name="cnpj" id="cnpj" required
                        placeholder="Digite o cnpj da instuição" value="">
                </fieldset>
                <fieldset class="formulario__instituicao__cep">
                    <label class="formulario__instituicao__cep__label" for="cep"><b>CEP</b></label>
                    <input class="formulario__instituicao__cep__input" name="cep" type="text" id="cep" value=""
                        size="10" maxlength="9" placeholder="Digite o CEP da instituição" required onblur="pesquisacep(this.value);">
                </fieldset>
                <fieldset class="formulario__instituicao__rua">
                    <label class="formulario__instituicao__rua__label" for="rua"><b>Rua</b></label>
                    <input class="formulario__instituicao__rua__input" type="text" name="rua" id="rua" required
                        placeholder="Digite o rua da instuição" value="">
                </fieldset>
                <fieldset class="formulario__instituicao__bairro">
                    <label class="formulario__instituicao__bairro__label" for="bairro"><b>Bairro</b></label>
                    <input class="formulario__instituicao__bairro__input" type="text" name="bairro" id="bairro" required
                        placeholder="Digite o bairro da instuição" value="">
                </fieldset>
                <fieldset class="formulario__instituicao__cidade">
                    <label class="formulario__instituicao__cidade__label" for="cidade"><b>Cidade</b></label>
                    <input class="formulario__instituicao__cidade__input" type="text" name="cidade" id="cidade" required
                        placeholder="Digite o cidade da instuição" value="">
                </fieldset>
                <fieldset class="formulario__instituicao__uf">
                    <label class="formulario__instituicao__uf__label" for="uf"><b>UF</b></label>
                    <input class="formulario__instituicao__uf__input" type="text" name="uf" id="uf" required
                        placeholder="Digite o uf da instuição" value="">
                </fieldset>
                <fieldset class="formulario__instituicao__numero">
                    <label class="formulario__instituicao__numero__label" for="numero"><b>Número</b></label>
                    <input class="formulario__instituicao__numero__input" type="number" name="numero" id="numero"
                        required placeholder="Digite o numero da instuição" value="">
                </fieldset>
                <fieldset class="formulario__instituicao__complemento">
                    <label class="formulario__instituicao__complemento__label"
                        for="complemento"><b>Complemento</b></label>
                    <input class="formulario__instituicao__complemento__input" type="text" name="complemento"
                        id="complemento" placeholder="Digite o complemento da instuição" value="">
                </fieldset>
                <fieldset class="formulario__instituicao__telefone">
                    <label class="formulario__instituicao__telefone__label" for="telefone"><b>Telefone</b></label>
                    <input class="formulario__instituicao__telefone__input" type="tel" name="telefone" id="telefone"
                        required placeholder="Digite o telefone da instuição no formato (xx) xxxxx-xxxx" value="">
                </fieldset>
            </div>
            <h4 class="formulario__titulo--responsavel">Dados do Responsável</h4>
            <fieldset class="formulario__responsavel__nome">
                <label class="formulario__responsavel__nome__label" for="nome"><b>Nome</b></label>
                <input class="formulario__responsavel__nome__input" type="text" name="nome" id="nome" required
                    placeholder="Digite o seu nome" value="">
            </fieldset>
            <fieldset class="formulario__responsavel__sobrenome">
                <label class="formulario__responsavel__sobrenome__label" for="sobrenome"><b>Sobrenome</b></label>
                <input class="formulario__responsavel__sobrenome__input" type="text" name="sobrenome" id="sobrenome"
                    required placeholder="Digite o seu sobrenome" value="">
            </fieldset>
            <fieldset class="formulario__responsavel__celular">
                <label class="formulario__responsavel__celular__label" for="celular"><b>Celular</b></label>
                <input class="formulario__responsavel__celular__input" type="text" name="celular" id="celular" required
                    placeholder="Digite o seu e-mail" value="">
            </fieldset>
            <fieldset class="formulario__lattes">
                <label class="formulario__lattes__label" for="lattes"><b>Currículo Lattes</b></label>
                <input class="formulario__lattes__input" type="url" name="lattes" id="lattes"
                    placeholder="Insira a URL do seu currículo lattes" value="">
            </fieldset>
            <div class="formulario__foto">
                <div class="formulario__foto__upload">
                    <label class="formulario__foto__upload__label" for="imagem_uploads">Escolha sua imagem de perfil
                        no formato PNG, JPG ou JPEG </label>
                    <input class="formulario__foto__upload__input" type="file" id="imagem_uploads" name="imagem_uploads"
                        accept=".jpg, .jpeg, .png">
                </div>
                <div class="formulario__foto__preview">
                    <img class="formulario__foto__preview__foto imagem__perfil"
                        src="{% static 'assets/img/fotos-perfil/Perfil_Desconhecido.jpg' %}"
                        alt="Imagem do Pesquisador">
                </div>
            </div>
            <div class="formulario__login">
                <h3 class="formulario__login__titulo">Informações de Login</h3>
                <fieldset class="formulario__login__email">
                    <label class="formulario__login__email__label" for="email"><b>E-mail</b></label>
                    <input class="formulario__login__email__input" type="email" name="email1" id="email" required
                        placeholder="Digite seu email" value="">
                </fieldset>
                <fieldset class="formulario__login__email__confirmacao">
                    <label class="formulario__login__email__confirmacao__label" for="confirma-email"><b>Confirmação de E-mail</b></label>
                    <input class="formulario__login__email__confirmacao__input" type="email" name="email2" id="confirma-email" required
                        placeholder="Digite seu email" value="">
                </fieldset>
                <div class="formulario__login__senha">
                    <label class="formulario__login__senha__label" for="senha"><b>Senha</b></label>
                    <input class="formulario__login__senha__input" type="password" name="password1" id="senha" required
                        placeholder="Digite uma senha" value="">
                    <i class="fa fa-eye" aria-hidden="true" id="icone-senha"
                        onclick="revelarCodigo('senha', 'icone-senha');"></i>
                </div>
                <div class="formulario__login__senha__confirmacao">
                    <label class="formulario__login__senha__confirmacao__label" for="confirma-senha"><b>Confirmação de
                            Senha</b></label>
                    <input class="formulario__login__senha__confirmacao__input" type="password" name="password2"
                        id="confirma-senha" required placeholder="Confirme sua senha" value="">
                    <i class="fa fa-eye" aria-hidden="true" id="icone-confirma-senha"
                        onclick="revelarCodigo('confirma-senha', 'icone-confirma-senha');"></i>
                </div>
            </div>
            <div class="formulario__avisos" id='formulario-avisos'>
                <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Sua senha deve ter 8 digitos ou mais, conter caracteres especiais, números, letras minúsculas e maiúculas.</p>
                <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Revise as informações antes de cadastrar.</p>
                <span id="sugestao"></span>
            </div>
            <fieldset class="formulario__aceitacao">
                <input class="formulario__aceitacao__input" type="checkbox" name="aceite-nomas" id="aceite-nomas">
                <label class="formulario__aceitacao__label" for="aceite-nomas">Declaro que conheço e concordo com
                    as <a href="normas.html" target="_blank" rel="noopener noreferrer">normas</a> de uso do Sistema
                    de
                    Gerenciamento do CME</label>
            </fieldset>
            <fieldset class="formulario__botao">
                <button class="formulario__botao" id="botao-enviar" type="submit">Cadastrar</button>
            </fieldset>
            <input type="hidden" name="username" value="">
        </form>
    </section>
    <!--Link de direcionamento da barra de acessibilidade para rodapé-->
    <a name="footer" id="footer"></a>
</main>
{% endblock  %}