header {
    display: grid;
    grid-template-areas:
        "barra-brasil"
        "barra-acessibilidade"
        "cabecalho"
        "menu";
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 7fr 1fr;
    height: 320px;
    margin: 0 auto;
    max-width: 75rem;
}

#barra-brasil {
    grid-area: barra-brasil;
}

.acessibilidade {
    @include align-items(center);
    background-color: #FFFFFF;
    display: grid;
    font-size: 0.8em;
    grid-area: barra-acessibilidade;
    grid-column-gap: 1%;
    grid-template-areas:
        "atalhos links traducao";
    grid-template-columns: 6fr 6fr 1fr;
    grid-template-rows: auto;

    @media only screen and (max-width: 960px) {
        grid-template-areas:
            "atalhos"
            "links"
            "traducao";
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
    }

    @media only screen and (max-width: 495px) {
        grid-template-areas:
            "links"
            "traducao";
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
    }

    @include all-icones-traducao-sprites;

    .icones-traducao-france,
    .icones-traducao-spain,
    .icones-traducao-united-states-of-america {
        height: 16px;
        width: 16px;
    }

    &__atalhos {
        @include display-flex;
        grid-area: atalhos;
        @include justify-content(start);

        @media only screen and (max-width: 960px) {
            @include justify-content(center);
        }

        @media only screen and (max-width: 495px) {
            display: none;
        }

        & li {
            margin: 0.3rem;
        }
    }

    &__links {
        @include display-flex;
        grid-area: links;
        @include justify-content(center);
        text-transform: uppercase;
        text-decoration: underline dotted;

        & li {
            margin: 0.3rem;
        }
    }

    &__traducao {
        @include display-flex;
        grid-area: traducao;
        @include justify-content(end);

        @media only screen and (max-width: 960px) {
            @include justify-content(center);
        }

        & li {
            margin: 0.3rem;
        }
    }

    span {
        background-color: black;
        color: #FFFFFF;
        margin-left: 0.25em;
        @include opacity(0.7);
        padding: 0 0.3em;

        @media only screen and (max-width: 495px) {
            display: none;
        }
    }

}

.cabecalho {
    grid-area: cabecalho;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas:
        "logo"
        "menu-ufpr"
        "barra-titulo";
    grid-template-columns: 1fr 1fr;

    &__logo {
        background-color: rgba(#FFFFFF, 0.8);
        @include border-radius(10px);
        grid-area: logo;
        grid-column: 1/1;
        grid-row: 1/1;
        height: 6rem;
        margin: 1rem;
        padding: 1rem;

        @media only screen and (max-width: 960px) {
            grid-column: 1/3;
            grid-row: 2/2;
            justify-self: center;
        }

        @media only screen and (max-width: 495px) {
            align-self: center;
            grid-row: 2/2;
            height: 5rem;
        }

    }

    &__menu--ufpr {
        grid-area: menu-ufpr;
        grid-column: 2/3;
        grid-row: 1/1;
        justify-self: end;
        margin: 1rem;

        @media only screen and (max-width: 960px) {
            grid-column: 1/3;
            grid-row: 1/1;
            justify-self: center;
        }

        @media only screen and (max-width: 495px) {
            grid-row: 1/1;
        }

        ul {
            @include display-flex;

            @media only screen and (max-width: 495px) {
                flex-direction: column;
            }

            li {

                @media only screen and (max-width: 495px) {
                    width: 100%;
                    margin-top: 0.7rem;
                }

                a {
                    background: $cor-padrao;
                    margin: 0 1px 0 0;
                    padding: 4px;

                    &:hover {
                        background: rgba($cor-padrao, 0.8);
                        color: $cor-padrao-auxiliar;
                    }
                }
            }
        }
    }

    &__titulo {
        @include align-items(center);
        background: rgba($cor-branca, 0.8);
        @include display-flex;
        grid-area: barra-titulo;
        grid-column: 1/3;
        grid-row: 2/3;
        @include justify-content(space-between);
        margin: 1rem 0;
        padding: 0.5rem;

        @media only screen and (max-width: 960px) {
            @include flex-direction(column);
            grid-row: 3/3;
        }


        h1 {
            color: $cor-branca;
            font-size: 2.4rem;
            @include text-shadow(rgba($cor-preta, 0.3) 1px 1px 0, rgba($cor-preta, 0.3) 2px 2px 0, rgba($cor-preta, 0.3) 3px 3px 0);

            @media only screen and (max-width: 960px) {
                font-size: 2rem;
            }

            @media only screen and (max-width: 495px) {
                font-size: 1.4rem;
            }

        }

        #searchform {
            display: block;
            position: relative;
            top: 2px;

            @media only screen and (max-width: 960px) {
                margin-top: 1rem;
            }

            input {
                border: none;
                border-radius: 2px;
                height: 25px;
                padding: 15px;
                width: 250px;
            }

            #barra-pesquisa-botao {
                background: url("../img/Icone-Pesquisa.png") center no-repeat;
                background-size: 20px;
                border: none;
                cursor: pointer;
                height: 20px;
                position: relative;
                right: 30px;
                top: 5px;
                width: 20px;
            }

            label {
                display: none;
            }
        }

    }
}

main {
    height: 10vh;
}