.imagem {
    &__atalho {
        width: 10rem;
        transition: 0.5s;

        &:hover {
            border-radius: 0;
            transform: scale(1.1);
        }
    }

    &__perfil {
        @include border-radius(4px);
        max-height: 120px;
        max-width: 120px;
    }

    &__logo {
        padding: 1rem;
        width: 100%;
    }

    &__portifolio{
        width: 100%;
    }

    &__historico{
        max-width: 50rem;
        width: 89vw;
    }

    &__equipamento {
        width: 100%;
    }

    &__galeria {

        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: all 0.3s ease-out;

        &:hover {
            transform: scale(1.1);
        }

    }

    &__modal {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.25s ease-out;
        max-width: 80vw;
        max-height: 100%;
    }
}

.escuro {
    background-color: black;
}