main {
	background-color: $cor-branca;
	grid-area: main;
	margin: 0 auto;
	width: 75rem;
	padding: 5rem 0;

	@media only screen and (max-width: 960px) {
		padding-top: 250px;
	}

	@media only screen and (max-width: 495px) {
		padding-top: 350px;
	}
}

.conteudo {
	&--index {
		display: grid;
		grid-gap: 3rem 1rem;
		grid-template-areas:
			"atalhos atalhos"
			"video apresentacao"
			"destaques noticias"
			"estatisticas estatisticas"
			"portifolio portifolio"
			"contato localizacao";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto auto auto;

		@media only screen and (max-width: 495px) {
			grid-template-areas:
				"atalhos"
				"video"
				"apresentacao"
				"destaques"
				"noticias"
				"estatisticas"
				"portifolio"
				"contato"
				"localizacao";
			grid-template-columns: auto;
			grid-template-rows: auto auto auto auto auto auto auto auto auto;
		}
	}

	&__atalhos {
		display: grid;
		grid-area: atalhos;
		grid-gap: 1rem;
		grid-template-areas:
			"sistema servicos normas";
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		text-align: center;
		width: 70%;
		margin: 0 auto;

		&__botao {
			&--sistema {
				grid-area: sistema;
			}

			&--servicos {
				grid-area: servicos;
			}

			&--normas {
				grid-area: normas;
			}
		}
	}

	&__video {
		grid-area: video;
		padding-left: 1rem;

		@media only screen and (max-width: 495px) {
			padding-right: 1rem;
		}

		iframe {
			height: 100%;
			width: 100%;

			@media only screen and (max-width: 495px) {
				height: 40rem;
			}
		}
	}

	&__apresentacao {
		grid-area: apresentacao;
		padding-right: 1rem;

		@media only screen and (max-width: 495px) {
			padding-left: 1rem;
		}
	}

	&__destaques {
		grid-area: destaques;
		padding-left: 1rem;

		@media only screen and (max-width: 495px) {
			padding-right: 1rem;
		}
	}

	&__noticias {
		grid-area: noticias;

		article {
			display: grid;
			grid-template-areas:
				"titulo data"
				"noticia noticia";
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto;
			margin-top: 1rem;
			padding-right: 1rem;

			h3 {
				grid-area: titulo;
				justify-self: start;
			}

			h4 {
				color: darkgray;
				grid-area: data;
				justify-self: end;
			}

			p {
				grid-area: noticia;
			}
		}
	}

	&__estatisticas {
		grid-area: estatisticas;
		padding: 0 1rem;
		text-align: center;

		#grafico-escondido {
			display: none;
		}

		#grafico {
			height: 30rem;
		}
	}

	&__portifolio {
		grid-area: portifolio;
		background-color: $cor-padrao;
		padding: 1rem;
	}

	&__contato {
		grid-area: contato;
	}

	&__localizacao {
		display: grid;
		grid-area: localizacao;
		grid-template-areas:
			"titulo"
			"mapa"
			"detalhes";
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		padding-right: 1rem;

		@media only screen and (max-width: 495px) {
			padding-left: 1rem;
		}

		h2{
			grid-area: titulo;
		}
		iframe{
			grid-area: mapa;
			height: 30rem;
			width: 100%;
		}
		&__endereco{
			grid-area: detalhes;
			p{
				text-align: center;
			}
			
		}
	}
}