main {
	background-color: $cor-branca;
	grid-area: main;
	margin: 0 auto;
	width: 75rem;
	padding: 7rem 0 5rem 0;
}

.conteudo {
	&--index {
		display: grid;
		grid-gap: 3rem 1rem;
		grid-template-areas:
			"atalhos atalhos"
			"video apresentacao"
			"destaques noticias"
			"estatisticas estatisticas"
			"portifolio portifolio"
			"contato localizacao";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto auto auto;
	}

	&__atalhos {
		display: grid;
		grid-area: atalhos;
		grid-gap: 1rem;
		grid-template-areas:
			"sistema servicos normas";
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		text-align: center;
		width: 80%;
		margin: 0 auto;

		&__botao {
			&--sistema {
				grid-area: sistema;
			}

			&--servicos {
				grid-area: servicos;
			}

			&--normas {
				grid-area: normas;
			}

			&__imagem {
				width: 10rem;
				transition: 0.5s;

				&:hover {
					border-radius: 0;
					transform: scale(1.1);
				}
			}
		}
	}

	&__video {
		grid-area: video;
		padding-left: 1rem;

		iframe {
			height: 100%;
			width: 100%;
		}
	}

	&__apresentacao {
		grid-area: apresentacao;
		padding-right: 1rem;
	}

	&__destaques {
		grid-area: destaques;
		padding-left: 1rem;
	}

	&__noticias {
		grid-area: noticias;
		padding-right: 1rem;
	}

	&__estatisticas {
		grid-area: estatisticas;
		padding: 0 1rem;
		text-align: center;

		#grafico-escondido {
			display: none;
		}

		#grafico {
			height: 30rem;
		}
	}

	&__portifolio {
		grid-area: portifolio;
		background-color: $cor-padrao;
	}

	&__contato {
		grid-area: contato;
	}

	&__localizacao {
		grid-area: localizacao;
	}
}