body{
    background: lightgray;
	display: grid;
	grid-template-areas:
			"header"
			"main"
			"footer";
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
}

a {
	color: black;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: #4B4B4B;
	}

}

h5 {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 5px;
	border-bottom: black solid 1px;
}