.conteudo__portifolio__slideshow {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        "prev slide next";
    grid-template-columns: 1fr 25fr 1fr;
    grid-template-rows: auto;
    position: relative;
    margin: auto;

    &__slide {
        align-items: center;
        display: grid;
        grid-area: slide;
        grid-gap: 1rem;
        grid-template-areas:
            "imagem aquisicao"
            "imagem pessoas";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;

        @media only screen and (max-width: 960px) {
            grid-template-areas:
                "imagem"
                "aquisicao"
                "pessoas";
            grid-template-columns: auto;
            grid-template-rows: auto auto auto;
        }

        &__imagem {
            display: grid;
            grid-area: imagem;
            grid-template-areas: 
                "foto";

            &__foto {
                border: solid $cor-branca 6px;
                border-bottom: solid $cor-branca 50px;
                filter: drop-shadow(1px 1px 1px $cor-preta);
                grid-area: foto;
                -moz-filter: drop-shadow(1px 1px 1px $cor-preta);
                -webkit-filter: drop-shadow(1px 1px 1px $cor-preta);
                justify-self: center;
                width: 97%;
            }

            &__titulo{
                align-self: end;
                color: $cor-preta;
                font-size: 1.9em;
                font-weight: bold;
                grid-area: foto;
                justify-self: center;
                margin-bottom: 0.5rem;
                z-index: 1;

                @media only screen and (max-width: 960px) {
                    font-size: 5vw;
                }
            }
        }

        &__aquisicao {
            grid-area: aquisicao;
        }

        &__pessoas {
            grid-area: pessoas;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto;
        }

        h4 {
            text-align: left;
        }

        p {
            margin-bottom: 1rem;
        }
    }
}


.prev {
    @extend %ponteiro;
    grid-area: prev;
    justify-self: start;
}

.next {
    @extend %ponteiro;
    grid-area: next;
    justify-self: end;
}

.dot {
    background-color: $cor-branca;
    @include border-radius(50%);
    cursor: pointer;
    display: inline-block;
    height: 1rem;
    margin: 1rem 0.5rem;
    @include transition-property(background-color);
    @include transition-duration(0.6s);
    @include transition-timing-function(ease);
    width: 1rem;
}

.active,
.dot:hover {
    background-color: $cor-padrao-auxiliar;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}