table {
    width: 95%;
    margin: 1rem auto;

    th {
        background-color: $cor-padrao-auxiliar;
        padding: 0.6rem 0;
        border-color: inherit;
    }

    tr {
        background-color: rgba(10, 10, 10, 0.1);
        border: solid 2px black;
        height: 2rem;
    }

    th,
    td {
        border-top: solid 1px rgba(10, 10, 10, 0.1);
    }
}